<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body>
  {{!-- wallpaper section --}}
  <section id="wallpaper-section" style="background: url(/assets/Rectangle\ 1.png);">
    <div class="overlay" style="background: url(/assets/Rectangle\ 2.png);"></div>
    {{> common/header }}
    <div class="wallp-content">
      <h1>
        <span>We Are</span>
        <span>Digital</span>
        <span>Growth</span>
        <span>Experts</span>
      </h1>
      <div class="dark-line">
        <h2>Your Idea.</h2>
        <h2> Our Solution.</h2>
      </div>
      <button class="btn_normal">
        How we can help
      </button>
    </div>
  </section>

  <section class="tb_first_section">
    <div class="mini-title justify-content-end">
      <h5>About Master Writers</h5>
    </div>
    <div class="container tb_inner">
      <div class="row">
        <div class="col-md-7">
          <div class="images-lyr">
            <div class="first-img img-lyr">
              <img src="/assets/Rectangle 13.png" alt="">
            </div>
            <div class="second-img img-lyr">
              <img src="/assets/Rectangle 14.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="content">
            <h4>
              The best digital solution
              for your company
            </h4>
            <p>
              Master Writers - software development company
              located in Spain
            </p>
            <p>
              We create design and develop solutions for all types
              of web and mobile products
            </p>
          </div>
          <button class="btn_normal float-right">
            <p>About us</p>
            <img src="/assets/ArrowRightShort.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="tb_second_section">
    <div class="mini-title">
      <h5 class="text-right">What we do</h5>
    </div>
    <div class="container">
      <div class="content">
        <h4>Always strive for better work</h4>
        <p>Our excellent services give you the best
          output in your business</p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card_tb_second">
            <div class="image">
              <img src="/assets/Rectangle 9.png" alt="">
            </div>
            <div class="content-div">
              <p class="normal-txt">DevOps</p>
              <p class="hover-txt">We develop fully functional web applications, available online to millions of users
                in any country of the world. Our team works with various databases and APIs, implements scaling and
                integration with other services.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card_tb_second">
            <div class="image">
              <img src="/assets/Rectangle 17.png" alt="">
            </div>
            <div class="content-div">
              <p class="normal-txt">DevOps</p>
              <p class="hover-txt">We develop fully functional web applications, available online to millions of users
                in any country of the world. Our team works with various databases and APIs, implements scaling and
                integration with other services.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card_tb_second">
            <div class="image">
              <img src="/assets/Rectangle 18.png" alt="">
            </div>
            <div class="content-div">
              <p class="normal-txt">UI/UX Design</p>
              <p class="hover-txt">We develop fully functional web applications, available online to millions of users
                in any country of the world. Our team works with various databases and APIs, implements scaling and
                integration with other services.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card_tb_second">
            <div class="image">
              <img src="/assets/Rectangle 19.png" alt="">
            </div>
            <div class="content-div">
              <p class="normal-txt">Digital Brandings</p>
              <p class="hover-txt">We develop fully functional web applications, available online to millions of users
                in any country of the world. Our team works with various databases and APIs, implements scaling and
                integration with other services.</p>
            </div>
          </div>
        </div>
        <button class="btn_normal">
          <p>View all services</p>
          <img src="/assets/ArrowRightShort.svg" alt="">
        </button>
      </div>
    </div>
  </section>

  <section class="tb_third_section">
    <div class="mini-title justify-content-end">
      <h5>Our portfolio</h5>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-6"></div>
        <div class="col-md-5 col-6">
          <div class="content">
            <h4>Case Studies</h4>
            <p>Our development company works with you to dig into
              the details of your idea for creating a comprehensive strategy
              for your startup business.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card_tb_third">
            <img src="/assets/Rectangle 9.png" alt="">
            <div class="overlay">
              <h6>Future Program
                Business</h6>
              <span>Marketing</span>
              <p>Educational software for Samsung
                consultants with both teacher and
                students interface. It has lesson
                constructor, test constructor,
                interactive teacher’s dashboard and
                access to lessons materials
                for students.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card_tb_third">
            <img src="/assets/Rectangle 17.png" alt="">
            <div class="overlay">
              <h6>Management
                Audit Business</h6>
              <span>Additional</span>
              <p>Educational software for Samsung
                consultants with both teacher and
                students interface. It has lesson
                constructor, test constructor,
                interactive teacher’s dashboard and
                access to lessons materials
                for students.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card_tb_third">
            <img src="/assets/Rectangle 18.png" alt="">
            <div class="overlay">
              <h6>Future Program
                Business</h6>
              <span>Marketing</span>
              <p>Educational software for Samsung
                consultants with both teacher and
                students interface. It has lesson
                constructor, test constructor,
                interactive teacher’s dashboard and
                access to lessons materials
                for students.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card_tb_third">
            <img src="/assets/Rectangle 19.png" alt="">
            <div class="overlay">
              <h6>Future Program
                Business</h6>
              <span>Marketing</span>
              <p>Educational software for Samsung
                consultants with both teacher and
                students interface. It has lesson
                constructor, test constructor,
                interactive teacher’s dashboard and
                access to lessons materials
                for students.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="btn_normal float-right">
        <p>View all projects</p>
        <img src="/assets/ArrowRightShort.svg" alt="">
      </button>
    </div>
  </section>

  <section class="tb_fourth_section">
    <div class="mini-title">
      <h5 class="text-right">Blog post</h5>
    </div>
    <div class="container">
      <div class="content">
        <h4>Our Latest News</h4>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="card_tb_fourth">
            <div class="card-top">
              <img src="/assets/Rectangle 42.png" alt="">
            </div>
            <div class="card-bottom">
              <h6>How to surviving on the
                great industry age</h6>
              <span>Business,Tips</span>
              <p>Most of the companies want to build longer partnerships since it’s better for a company.Our providing
                assistance helps you to build the largest</p>
              <a href="">
                <p>Read more</p>
                <img src="/assets/ArrowRightShortDark.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card_tb_fourth">
            <div class="card-top">
              <img src="/assets/Rectangle 43.png" alt="">
            </div>
            <div class="card-bottom">
              <h6>How to surviving on the
                great industry age</h6>
              <span>Business,Tips</span>
              <p>Most of the companies want to build longer partnerships since it’s better for a company.Our providing
                assistance helps you to build the largest</p>
              <a href="">
                <p>Read more</p>
                <img src="/assets/ArrowRightShortDark.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card_tb_fourth">
            <div class="card-top">
              <img src="/assets/Rectangle 44.png" alt="">
            </div>
            <div class="card-bottom">
              <h6>How to surviving on the
                great industry age</h6>
              <span>Business,Tips</span>
              <p>Most of the companies want to build longer partnerships since it’s better for a company.Our providing
                assistance helps you to build the largest</p>
              <a href="">
                <p>Read more</p>
                <img src="/assets/ArrowRightShortDark.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card_tb_fourth">
            <div class="card-top">
              <img src="/assets/Rectangle 45.png" alt="">
            </div>
            <div class="card-bottom">
              <h6>How to surviving on the
                great industry age</h6>
              <span>Business,Tips</span>
              <p>Most of the companies want to build longer partnerships since it’s better for a company.Our providing
                assistance helps you to build the largest</p>
              <a href="">
                <p>Read more</p>
                <img src="/assets/ArrowRightShortDark.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <button class="btn_normal">
        <p>View all news</p>
        <img src="/assets/ArrowRightShort.svg" alt="">
      </button>
    </div>
  </section>

  <section class="contact-section">
    <div class="container">
      <div class="contact-content">
        <h3>We are Here to Help You</h3>
        <p>Tell us about your request and we will give you solution</p>
      </div>
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <div class="inputGroup">
              <input type="text" placeholder="Full name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="inputGroup">
              <input type="email" name="" id="" placeholder="Email">
            </div>
          </div>
          <div class="col-md-6">
            <div class="inputGroup">
              <input type="text" placeholder="Phone number">
            </div>
          </div>
          <div class="col-md-6">
            <div class="inputGroup">
              <div class="custom-select">
                <select>
                  <option value="0">Ölkə:</option>
                  <option value="" class="heading">Seçin:</option>
                  <option value="1">Azerbaijan</option>
                  <option value="2">Turkish</option>
                  <option value="3">Russia</option>
                  <option value="1">Azerbaijan</option>
                  <option value="2">Turkish</option>
                  <option value="3">Russia</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button class="btn_normal">
              Request call back
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="logo-section">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="" class="item">
            <img src="/assets/Group 18.svg" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="" class="item">
            <img src="/assets/Group 18.svg" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="" class="item">
            <img src="/assets/Group 18.svg" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="" class="item">
            <img src="/assets/Group 18.svg" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="" class="item">
            <img src="/assets/Group 18.svg" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="" class="item">
            <img src="/assets/Group 18.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-md-3">
          <a href="" class="footer-logo">
            <img src="/assets/Group 1.svg" alt="">
          </a>
          <p class="footer-content">Master Writers a trusted name for providing assistants. Who are loyal to their
            industry, experienced and
            professiona</p>
          <div class="footer-items">
            <div class="">
              <img src="/assets/location (1) 1.png" alt="">
              <p>H.Aliyev 55 str.,Baku,Azerbaijan</p>
            </div>
            <div class="">
              <img src="/assets/location (1) 1.png" alt="">
              <p>+994 051 568 66 55</p>
            </div>
            <div class="">
              <img src="/assets/location (1) 1.png" alt="">
              <p>b@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="mini-title-footer">
            <h4>Useful links</h4>
          </div>
          <div class="footer-links">
            <a href="">
              <p>Home</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>Services</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>Projects</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>Team</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>Prising</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mini-title-footer">
            <h4>What we do</h4>
          </div>
          <div class="footer-links">
            <a href="">
              <p>Web & Mobile development</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>DevOps</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>UI/UX design</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>Digital brandings</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
            <a href="">
              <p>Manage investment</p>
              <img src="/assets/ArrowRightShortDark.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mini-title-footer">
            <h4>Newsletter</h4>
          </div>
          <form action="">
            <p>Get in your inbox the latest News</p>
            <div class="inputGroup">
              <input type="text" placeholder="Your name">
            </div>
            <div class="inputGroup">
              <input type="text" placeholder="Email adress">
            </div>
            <button class="btn_normal">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2020 Master Writers</p>
      </div>
    </div>
  </footer>

  {{> common/footer }}

</body>

</html>