<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>
    {{!-- wallpaper section --}}
    <section id="wallpaper-section" class="wallp-second" style="background: url(/assets/Rectangle\ 1.png);">
        <div class="overlay" style="background: url(/assets/Rectangle\ 2.png);"></div>
        {{> common/header }}
        <div class="wallp-content wallpaper-mg">
            <div class="dark-line dark-line-height">
                <p>Our agency's aim is always to take the product 
to market as quickly as possible </p>
            </div>
            <button class="btn_normal">
                Contact us
            </button>
        </div>
    </section>

    <section class="tb_tab_section">
        <div class="container">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Startups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Enterprise software</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <section class="tb_third_section">
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="card_tb_third">
                                    <img src="/assets/Rectangle 9.png" alt="">
                                    <div class="overlay">
                                        <h6>Future Program
                                            Business</h6>
                                        <span>Marketing</span>
                                        <p>Educational software for Samsung
                                            consultants with both teacher and
                                            students interface. It has lesson
                                            constructor, test constructor,
                                            interactive teacher’s dashboard and
                                            access to lessons materials
                                            for students.</p>
                                        <a href="">
                                            <p>Learn more</p>
                                            <img src="/assets/ArrowRightShort.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="card_tb_third">
                                    <img src="/assets/Rectangle 17.png" alt="">
                                    <div class="overlay">
                                        <h6>Management
                                            Audit Business</h6>
                                        <span>Additional</span>
                                        <p>Educational software for Samsung
                                            consultants with both teacher and
                                            students interface. It has lesson
                                            constructor, test constructor,
                                            interactive teacher’s dashboard and
                                            access to lessons materials
                                            for students.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="card_tb_third">
                                    <img src="/assets/Rectangle 18.png" alt="">
                                    <div class="overlay">
                                        <h6>Future Program
                                            Business</h6>
                                        <span>Marketing</span>
                                        <p>Educational software for Samsung
                                            consultants with both teacher and
                                            students interface. It has lesson
                                            constructor, test constructor,
                                            interactive teacher’s dashboard and
                                            access to lessons materials
                                            for students.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="card_tb_third">
                                    <img src="/assets/Rectangle 19.png" alt="">
                                    <div class="overlay">
                                        <h6>Future Program
                                            Business</h6>
                                        <span>Marketing</span>
                                        <p>Educational software for Samsung
                                            consultants with both teacher and
                                            students interface. It has lesson
                                            constructor, test constructor,
                                            interactive teacher’s dashboard and
                                            access to lessons materials
                                            for students.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <section class="tb_third_section">
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="card_tb_third">
                                    <img src="/assets/Rectangle 17.png" alt="">
                                    <div class="overlay">
                                        <h6>Management
                                            Audit Business</h6>
                                        <span>Additional</span>
                                        <p>Educational software for Samsung
                                            consultants with both teacher and
                                            students interface. It has lesson
                                            constructor, test constructor,
                                            interactive teacher’s dashboard and
                                            access to lessons materials
                                            for students.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="card_tb_third">
                                    <img src="/assets/Rectangle 18.png" alt="">
                                    <div class="overlay">
                                        <h6>Future Program
                                            Business</h6>
                                        <span>Marketing</span>
                                        <p>Educational software for Samsung
                                            consultants with both teacher and
                                            students interface. It has lesson
                                            constructor, test constructor,
                                            interactive teacher’s dashboard and
                                            access to lessons materials
                                            for students.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <section class="tb_third_section">
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="card_tb_third">
                                    <img src="/assets/Rectangle 17.png" alt="">
                                    <div class="overlay">
                                        <h6>Management
                                            Audit Business</h6>
                                        <span>Additional</span>
                                        <p>Educational software for Samsung
                                            consultants with both teacher and
                                            students interface. It has lesson
                                            constructor, test constructor,
                                            interactive teacher’s dashboard and
                                            access to lessons materials
                                            for students.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="inner-sect">
            <div class="container d-flex flex-column align-items-center">
                <h4>We have experience in Digital Agency</h4>
                <p>Always strive for better work</p>
                <button class="btn_normal">Contact us</button>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-md-3">
                    <a href="" class="footer-logo">
                        <img src="/assets/Group 1.svg" alt="">
                    </a>
                    <p class="footer-content">Master Writers a trusted name for providing assistants. Who are loyal to
                        their
                        industry, experienced and
                        professiona</p>
                    <div class="footer-items">
                        <div class="">
                            <img src="/assets/location (1) 1.png" alt="">
                            <p>H.Aliyev 55 str.,Baku,Azerbaijan</p>
                        </div>
                        <div class="">
                            <img src="/assets/location (1) 1.png" alt="">
                            <p>+994 051 568 66 55</p>
                        </div>
                        <div class="">
                            <img src="/assets/location (1) 1.png" alt="">
                            <p>b@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mini-title-footer">
                        <h4>Useful links</h4>
                    </div>
                    <div class="footer-links">
                        <a href="">
                            <p>Home</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Services</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Projects</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Team</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Prising</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mini-title-footer">
                        <h4>What we do</h4>
                    </div>
                    <div class="footer-links">
                        <a href="">
                            <p>Web & Mobile development</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>DevOps</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>UI/UX design</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Digital brandings</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Manage investment</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mini-title-footer">
                        <h4>Newsletter</h4>
                    </div>
                    <form action="">
                        <p>Get in your inbox the latest News</p>
                        <div class="inputGroup">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="inputGroup">
                            <input type="text" placeholder="Email adress">
                        </div>
                        <button class="btn_normal">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2020 Master Writers</p>
            </div>
        </div>
    </footer>

    {{> common/footer }}

</body>

</html>