<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>
    {{!-- wallpaper section --}}
    <section id="wallpaper-section" class="wallp-second" style="background: url(/assets/Rectangle\ 1.png);">
        <div class="overlay" style="background: url(/assets/Rectangle\ 2.png);"></div>
        {{> common/header }}
        <div class="wallp-content wallpaper-mg">
            <div class="heading">
                <span>Future Program Business </span>
            </div>
            <div class="heading-second">
                <span>marketing</span>
            </div>
        </div>
    </section>

    <section class="tb_first_section tb_first_sect_second">
        <div class="mini-title">
            <h5 class="text-right">About Master Writers</h5>
        </div>
        <div class="container tb_inner">
            <div class="row m-0">
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="content second-content">
                        <p>
                            Why I say old chap that is spiffi pukka bambooz wind up bugger buggered zonked hanky panky
                            blindi shot the little rotter Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incidi esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                        <br>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt ander explicabo. Nemo enim ipsam voluptatem quia voluptas
                            sit aspernatur aut odit aut fugit, sed quia first one consequuntur magni dolores eos qui
                            ratione
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-12 d-flex justify-content-end">
                    <div class="images-lyr">
                        <div class="first-img img-lyr">
                            <img src="/assets/Rectangle 13.png" alt="">
                        </div>
                        <div class="second-img img-lyr">
                            <img src="/assets/Rectangle 14.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tb_first_section tb_second_sect_second">
        <div class="mini-title justify-content-end">
            <h5 class="text-right">What we do</h5>
        </div>
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-7 col-md-6 col-12 pl-0">
                    <div class="content second-content">
                        <h5 class="second-content-h5">Brand redesign meanwhile focusing product</h5>
                        <p>
                            Why I say old chap that is spiffi pukka bambooz wind up bugger buggered zonked hanky panky
                            blindi shot the little rotter Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incidi esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                        <br>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt ander explicabo. Nemo enim ipsam voluptatem quia voluptas
                            sit aspernatur aut odit aut fugit, sed quia first one consequuntur magni dolores eos qui
                            ratione
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="information">
                        <table>
                            <tr>
                                <th>CLIENT:</th>
                                <td>Jonathan Blue</td>
                            </tr>
                            <tr>
                                <th>DATE:</th>
                                <td>June 18, 2020</td>
                            </tr>
                            <tr>
                                <th>SERVICES:</th>
                                <td>Branding</td>
                            </tr>
                            <tr>
                                <th>SITE LINK:</th>
                                <td>www.droitlaab.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="links-sect">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-6 pr-0">
                    <a href="">
                        <img class="prev-img" src="/assets/arrow-right.svg" alt="">
                        <p>Previous work</p>
                    </a>
                </div>
                <div class="col-6 pl-0 d-flex justify-content-end">
                    <a href="">
                        <p>Next work</p>
                        <img class="next-img" src="/assets/arrow-left.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="inner-sect m-0">
        <div class="container d-flex flex-column align-items-center">
            <h4>We have experience in Digital Agency</h4>
            <p>Always strive for better work</p>
            <button class="btn_normal">Contact us</button>
        </div>
    </div>

    {{> common/footer }}

</body>

</html>