<header>
    {{!-- header top --}}
    <div class="header-top">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center h-100">
                <div class="col-7 d-flex align-items-center">
                    <div class="item">
                        <img src="/assets/location (1) 1.png" alt="">
                        <span>H.Aliyev 55 str.,Baku,Azerbaijan</span>
                    </div>
                    <div class="item">
                        <img src="/assets/Vector.png" alt="">
                        <span>+994 051 568 66 55</span>
                    </div>
                </div>
                <div class="col-5 d-flex justify-content-end">
                    <div class="social-icons">
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="container-select-language">
                        <div class="items-top-footer drop-down-key">
                            <p>aze</p>
                            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.52938 4.9625L0.531882 1.53625C0.178132 1.13312 0.465632 0.5 1.00251 0.5H6.99751C7.11766 0.499897 7.23529 0.53443 7.33633 0.599463C7.43736 0.664496 7.5175 0.757273 7.56716 0.866683C7.61682 0.976093 7.63389 1.0975 7.61633 1.21636C7.59876 1.33522 7.54731 1.4465 7.46813 1.53687L4.47063 4.96187C4.41197 5.029 4.33962 5.08281 4.25845 5.11967C4.17728 5.15654 4.08916 5.17561 4.00001 5.17561C3.91085 5.17561 3.82274 5.15654 3.74156 5.11967C3.66039 5.08281 3.58804 5.029 3.52938 4.96187V4.9625Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="drop-down-language">
                            <ul>
                                <li data-id="en">
                                    ENG
                                </li>
                                <li data-id="az">
                                    RUS
                                </li>
                                <li data-id="ru">
                                    AZE
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- hedaer bottom --}}
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="index.html" class="logo">
                        <img src="/assets/logo.svg" alt="">
                    </a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <ul class="menu">
                        <li>
                            <a class="active" href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="projects.html">Projects</a>
                        </li>
                        <li>
                            <a href="team.html">Team</a>
                        </li>
                        <li>
                            <a href="">Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <button class="btn_outline">
                        Contact us
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Button up -->
	<button class="buttonUp">
		<img src="/assets/ArrowDownShort.svg" alt="">
	</button>
<!-- Button up -->